@import url('https://fonts.googleapis.com/css?family=Lato:100|Open+Sans:300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #303030;
    color: #fff;
}

.name {
    font-size: 4.4em;
    letter-spacing: 2px;
    word-spacing: 30px;
    font-family: 'Lato',sans-serif;
    text-align: center;
    margin-top: 25vh;
}
.text {
    text-align: center;
    margin: 50px 35vw;
    font-family: 'Open Sans',sans-serif;
    letter-spacing: 2px;
    color: #b8b9ba;
    line-height: 1.5em;
}

.social-logos {
    margin: 5vh 35vw;
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    
}
.social-logos div {
    margin: 10px auto;
}


.social-logos .fb  {
	background-image: url("https://image.flaticon.com/icons/svg/33/33702.svg");
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 20%;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: white;
	cursor: pointer;
}

.social-logos .insta {
	background-image: url("https://image.flaticon.com/icons/svg/87/87390.svg");
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 32%;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: white;
	cursor: pointer;
}
.social-logos .linkedin {
	background-image: url("https://image.flaticon.com/icons/svg/34/34405.svg");
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 20%;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: white;
	cursor: pointer;
}	

.social-logos .github {
	background-image: url("https://image.flaticon.com/icons/svg/2111/2111432.svg");
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 20%;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: white;
	cursor: pointer;
}

.social-logos .fb:hover {
	background-image: url("https://image.flaticon.com/icons/svg/174/174848.svg");
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 20%;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: white;
	transition: 0.4s ease;

}
.social-logos .insta:hover {
	background-image: url("https://image.flaticon.com/icons/svg/174/174855.svg");
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 32%;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: white;
	transition: 0.4s ease;
}
.social-logos .linkedin:hover {
	background-image: url("https://image.flaticon.com/icons/svg/174/174857.svg");
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 20%;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: white;
	transition: 0.4s ease;
}

.social-logos .github:hover {
	background-image: url("https://image.flaticon.com/icons/svg/733/733553.svg");
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 20%;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: white;
	transition: 0.4s ease;
}